<div class="row my-2">
    <div class="col-auto mx-auto">
        <div class="">
            <a class="btn btn-primary" href="mailto:{{ site.email }}">
                <i class="fas fa-envelope fa-2x" alt="Email"></i>
            </a>
            <a class="btn btn-primary" href="tel:{{ site.phone_number }}">
                <i class="fas fa-phone fa-2x" alt="Phone"></i>
            </a>
            <a class="btn btn-primary" href="https://www.instagram.com/wildflowermpls/">
                <i class="fab fa-instagram fa-2x" alt="Instagram"></i>
            </a>
            <a class="btn btn-primary" href="https://goo.gl/maps/8eFSPeiysjd8nfkL7">
                <i class="fas fa-map-marker-alt fa-2x" alt="Map"></i>
            </a>
            <!-- <i class="fab fa-facebook-square fa-2x bg-white text-secondary p-2 m-1"></i> -->
        </div>
    </div>
</div>