<div class="row mt-3">
    <div class="col-12">
        <div class="text-center">
            <!-- Set up Vagaro before showing the link to it -->
            <!-- <a href="{{ site.vagaro_link }}" target="_blank" class="btn btn-danger p-3">Book Now</a> -->
        </div>
        <div class="text-center">
            <a class="text-primary" href="mailto:{{ site.email }}">{{ site.email }}</a>
            <br>
            <a class="text-primary" href="tel:{{ site.phone_number }}">{{ site.phone_number }}</a>
        </div>
    </div>
</div>