<div class="row">
    <div class="col-12">
        <div class="text-center">
            <a href="{{ site.vagaro_link }}" target="_blank" class="btn btn-danger p-3">Book Now</a>
            <!--<div class="vagaro" style="width:250px; padding:0; border:0; margin:0 auto; text-align:center; font-size:14px; color:#AAA;"><style>.vagaro a {font-size:14px; color:#AAA; text-decoration:none;}</style><a href="https://sales.vagaro.com/">Powered by Vagaro</a>&nbsp;<a href="https://sales.vagaro.com/salon-software">Salon Software</a>,&nbsp;<a href="https://sales.vagaro.com/spa-software">Spa Software</a>&nbsp;&amp;&nbsp;<a href="https://sales.vagaro.com/fitness-software">Fitness Software</a><script type="text/javascript" src="https://www.vagaro.com//resources/WidgetWindowLoader/OZqnCZapDp8cT3qmV35y79oz34mC2PlFK9lRsiWJcyxapkUcPCu7gevEhAJDXwPW?v=kdDUHZpEBisAeuh2T0NTaMHcwC6qlkSzAM9tXgFkm0Y#"></script></div>-->
        </div>
        <div style="font-size: 3rem" class="text-center">
            <a class="text-primary" href="mailto:{{ site.email }}">&#9993;</a>
            <a class="text-primary" href="tel:{{ site.phone_number }}">&#9743;</a>
        </div>
        <div class="text-center">
            <a class="text-primary" href="mailto:{{ site.email }}">{{ site.email }}</a>
            <br>
            <a class="text-primary" href="tel:{{ site.phone_number }}">{{ site.phone_number }}</a>
        </div>
    </div>
</div>