$white:    #fff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #6c757d !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
$black:    #000 !default;

// $blue:    rgb(64,97,142) !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
// $red:     #dc3545 !default;
// $orange:  #BE4F46 !default;
// $yellow:  #DBDB61 !default;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;

// $primary:       rgb(201,208,226) !default;
// $secondary:     rgb(247,244,237) !default;
$primary:       $white !default;
$secondary:     $black !default;
// $danger:        $blue !default;
// $warning:       $yellow !default;
// $info:          $blue !default;
// $dark:          #4F4E4C !default;

$font-family-sans-serif:      "Open Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$input-btn-font-family:       -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// "Playfair Display", 
$headings-font-family:       "Open Sans Condensed" -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
// $headings-color:              $dark !default;

// $navbar-light-color:                $blue !default;
// $navbar-light-hover-color:          $yellow !default;
// $navbar-light-active-color:         $dark !default;
// $navbar-light-disabled-color:       $dark !default;
// $navbar-light-toggler-border-color: $dark !default;