---
layout: narrow
---
<div class="row bg-primary">
    <div class="col-12 text-center p-0 col-sm-4 col-md-auto text-md-left">
        <img style="min-width: 80px" class="img-fluid" src="{{ site.baseurl}}/assets/images/{{ page.image_link }}" alt="Picture of {{ page.first_name }}">
    </div>
    <div class="col p-5">
        <div class="row">
            <div class="col">
                <h1>{{ page.first_name }} {{ page.last_name }}</h1>
                <p>{{ page.blurb }}</p>
                <p>{{ content }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-8 col-md-auto">
                <a class="text-dark" href="mailto:{{ page.email | default: "wildflowersalonmpls@gmail.com" }}">Email {{ page.first_name }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{{ site.baseurl }}/stylists" class="btn btn-secondary mt-2"><h3>&larr;</h3></a>
            </div>
        </div>
    </div>
</div>